.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.hi {
  font-size: 100px;
  color: black;
  animation-duration: 5s;
  animation-name: intro;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  position: fixed;
}

img{
  width: 500px;
  height: 200px;
  opacity: 0.5;
}

@keyframes intro {
  0% {
    top: -100px;

  }
 
  100% {
    top: 280px;

  }
}
