body{
    padding: 1% 10% 10% 10%;
}

header{
    background-color: gray;
    margin: 0px -90px 0px -92px;
    padding-left: 98px;
}

p{
    font-size: 25px;
}
a{
    padding-right: 10px;
}
#cookies a{
    padding-left: 10%;

}

#cookies{
    display: flex;
    align-items: center;    
    background-color: yellow;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 500;
    top: 557px;
    margin-left: -150px;
    padding-left: 150px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    margin: 0px -90px 0px -92px;
    padding-left: 98px;

}