html {
    font-size: 3rem;
  }
  .smiley {
    width: 6.25rem;
    height: 6.25rem;
    line-height: 6.25rem;
    text-align: center;
    font-family: 'courier new';
    font-weight: bold;
    font-size: 3.125rem;
    color: #424242;
    background: #ffcc00;
    position: fixed;
    left: 3.125rem;
    top: 3.125rem;
    transform: translate(-3.125rem, -3.125rem);
    border-radius: 3.125rem;
  }